@page
@model WebApp___Transportbedrijf.Pages.Vehicle.AddTaxiModel
@{
}

<h1>Taxi toevoegen</h1>

<form method="post" asp-page-handler="AddTaxi">

    <div asp-validation-summary="All" class="text-black"></div>

    <div class="form-group">
        <label asp-for="Taxi.VehicleBrandModel" class="control-label"></label>
        <input asp-for="Taxi.VehicleBrandModel" class="form-control" />
        <span asp-validation-for="Taxi.VehicleBrandModel" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Taxi.VehicleType" class="text-black"></label>

        <select id="vehicleTypeDropdown" asp-for="Taxi.VehicleType" class="form-control">
            <option value="1">Taxi</option>
        </select>

        <span asp-validation-for="Taxi.VehicleType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Taxi.LicencePlate" class="control-label"></label>
        <input asp-for="Taxi.LicencePlate" class="form-control" />
        <span asp-validation-for="Taxi.LicencePlate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Taxi.MaxPersons" class="control-label"></label>
        <input asp-for="Taxi.MaxPersons" class="form-control" />
        <span asp-validation-for="Taxi.MaxPersons" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Toevoegen</button>
    <a asp-page="/Vehicles/Index" class="btn btn-secondary">Annuleren</a>


</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}